token_do_Django/config/*.log
token_do_Django/config/*.pot
token_do_Django/config/*.pyc
token_do_Django/config/__pycache__/
token_do_Django/config/local_settings.py
token_do_Django/config/db.sqlite3
token_do_Django/config/db.sqlite3-journal
token_do_Django/config/media
token_do_Django/.env
token_do_Django/.venv
token_do_Django/env/
token_do_Django/venv/
token_do_Django/ENV/
token_do_Django/env.bak/
token_do_Django/venv.bak/

token_jwt/config/*.log
token_jwt/config/*.pot
token_jwt/config/*.pyc
token_jwt/config/__pycache__/
token_jwt/config/local_settings.py
token_jwt/config/db.sqlite3
token_jwt/config/db.sqlite3-journal
token_jwt/config/media
token_jwt/.env
token_jwt/.venv
token_jwt/env/
token_jwt/venv/
token_jwt/ENV/
token_jwt/env.bak/
token_jwt/venv.bak/

token_login_email/setup/*.log
token_login_email/setup/*.pot
token_login_email/setup/*.pyc
token_login_email/setup/__pycache__/
token_login_email/setup/local_settings.py
token_login_email/setup/db.sqlite3
token_login_email/setup/db.sqlite3-journal
token_login_email/setup/media
token_login_email/.env
token_login_email/.venv
token_login_email/env/
token_login_email/venv/
token_login_email/ENV/
token_login_email/env.bak/
token_login_email/venv.bak/

token_viewset/config/*.log
token_viewset/config/*.pot
token_viewset/config/*.pyc
token_viewset/config/__pycache__/
token_viewset/config/local_settings.py
token_viewset/config/db.sqlite3
token_viewset/config/db.sqlite3-journal
token_viewset/config/media
token_viewset/.env
token_viewset/.venv
token_viewset/env/
token_viewset/venv/
token_viewset/ENV/
token_viewset/env.bak/
token_login_email/venv.bak/
